.knob-fluid-row {
  clear:both;
  overflow:hidden;
  padding:10px;
  
  border-bottom: 1px solid;
  
  label {
    display:block;
    width:auto;
    max-width:100%;
    word-wrap: break-word;      /* IE 5.5-7 */
    white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
    white-space: pre-wrap;
    font-size: 14px;
  }
  
  &.single-row {
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);
    @include flex-wrap(nowrap);
    width:100%;
    
    .knob-dropdown {
    /*  min-width: 80px; */
      white-space: nowrap;
    }
  }

  &.multi-row {
    label {
      display:block;
      clear:both;
      
      padding-bottom: 12px;
    }
    
    .knob-button.variation-primary,
    .knob-input,
    .knob-textarea {
      display:block;
      clear:both;
      width:100%;
    }
  }
}