.knob-pagination {
	overflow: hidden;
	display: table;
	margin: 0 auto;
	span {
		button{
			position: relative;
			float: left;
			text-decoration: none;
		}

		&:not(:first-child) {
			button {
				margin-left: -1px;
			}
		}
	}
}