<div class="knob-radio" data-bind="foreach: items, css: { 'knob-radio-block': blockView , 'knob-radio-inline': inlineView }">
	<div data-bind="component: {
		name: 'knob-button',
		params: {
			variation: $parent.variation,
			label: label,
			icon: icon,
			radio: true,
			group: group,
			click: click,
			disabled: disabled
		}
	}, css: isSelected() ? 'active' : ''">
	</div>
	<!-- ko if: $parent.inlineView || $parent.blockView -->
	<div class="blockLabel">
		<span data-bind="text: label"></span>
	</div>
    <!-- /ko -->
</div>