<div class="knob-numericInput variation-back" data-bind="if: layoutArrangement === 'back'">

	<!-- pre input placeholder -->
	<!-- ko ifnot: immediateEvaluation -->
		<knob-input data-bind="event: { change: inputChangeHandler }, enterkey: inputChangeHandler" params="
			value: inputFieldValue,
			left: left,
			right: right
		">
		</knob-input>
	<!-- /ko -->
	<!-- ko if: immediateEvaluation -->
		<knob-input params="
		value: inputFieldValue,
		left: left,
		right: right
		">
		</knob-input>
	<!-- /ko -->
	<div class="numericInputButtonsWrapper">
		<div class="numerInputIncreaseWrapper">
			<span class="control-button">
				<knob-button params="
					icon: increaseButton.icon,
					click: increaseButton.click,
					triggerOnHold: triggerOnHold
				" data-bind="css: reachedMaxValue() ? 'reachedMaxValue' : ''">
				</knob-button>
			</span>
		</div>
		<div class="numerInputDecreaseWrapper">
			<span class="control-button">
				<knob-button params="
					icon: decreaseButton.icon,
					click: decreaseButton.click,
					triggerOnHold: triggerOnHold
				" data-bind="css: reachedMinValue() ? 'reachedMinValue' : ''">
				</knob-button>
			</span>
		</div>
	</div>

	<!-- post input placeholder -->
</div>

<div class="knob-numericInput variation-split" data-bind="if: layoutArrangement === 'split'">
	
	<!-- pre input placeholder -->
	<div class="numerInputDecreaseWrapper">
		<span class="control-button">
			<knob-button params="
				icon: decreaseButton.icon,
				click: decreaseButton.click,
				triggerOnHold: triggerOnHold
			" data-bind="css: reachedMinValue() ? 'reachedMinValue' : ''">
			</knob-button>
		</span>
	</div>
	<!-- ko ifnot: immediateEvaluation -->
		<knob-input data-bind="event: { change: inputChangeHandler }, enterkey: inputChangeHandler" params="
			value: inputFieldValue,
			left: left,
			right: right
		">
		</knob-input>
	<!-- /ko -->
	<!-- ko if: immediateEvaluation -->
		<knob-input params="
		value: inputFieldValue,
		left: left,
		right: right
		">
		</knob-input>
	<!-- /ko -->
	<div class="numerInputIncreaseWrapper">
		<span class="control-button">		
			<knob-button params="
				icon: increaseButton.icon,
				click: increaseButton.click,
				triggerOnHold: triggerOnHold
			" data-bind="css: reachedMaxValue() ? 'reachedMaxValue' : ''">
			</knob-button>
		</span>
	</div>
	
	<!-- post input placeholder -->
</div>

<div class="knob-numericInput variation-front" data-bind="if: layoutArrangement === 'front'">
	<div class="numerInputIncreaseWrapper">
		<span class="control-button">
			<knob-button params="
				icon: increaseButton.icon,
				click: increaseButton.click,
				triggerOnHold: triggerOnHold
			" data-bind="css: reachedMaxValue() ? 'reachedMaxValue' : ''">
			</knob-button>
		</span>
	</div>
	<div class="numerInputDecreaseWrapper">
		<span class="control-button">
			<knob-button params="
				icon: decreaseButton.icon,
				click: decreaseButton.click,
				triggerOnHold: triggerOnHold
			" data-bind="css: reachedMinValue() ? 'reachedMinValue' : ''">
			</knob-button>
		</span>
	</div>
	<!-- pre input placeholder -->
	<!-- ko ifnot: immediateEvaluation -->
		<knob-input data-bind="event: { change: inputChangeHandler }, enterkey: inputChangeHandler" params="
			value: inputFieldValue,
			left: left,
			right: right
		">
		</knob-input>
	<!-- /ko -->
	<!-- ko if: immediateEvaluation -->
		<knob-input params="
		value: inputFieldValue,
		left: left,
		right: right
		">
		</knob-input>
	<!-- /ko -->
	
	<!-- post input placeholder -->
</div>