$tab-content: 100%;
$orient-left-side: 10%;
$orient-panel: 90%;

//$orient-panel


.knob-radio  {
	overflow: hidden;

	& > div {
		display: inline-block;
	}

	&--block {

		& > div > div {
			display: block;
		}
	}
}



.knob-tab-orient {

	width: 100%;

	&--top-left {
		text-align: left
	}

	&--top-center {
		text-align: center
	}

	&--top-right {
		text-align: right
	}

	&--left-top {

		.knob-radio,
		.knob-panel-group {
			float: left
		}

		.knob-radio {
			width: 20%;

			& > div {
				width: 100%;

				.knob-button {
					width: 100%;
					text-align: left
				}
			}
		}

		.knob-panel-group {
			width: 80%
		}

		.knob-tab {
			padding-top: 0;

			p {
				&:nth-child(1){
					margin-top: 0;
				}
			}
		}
	}

}
