/* $width: 60px;
$height: 30px;
$toggleWidth: 29px;
$boxShadow: 0 1px 3px rgba(0, 0, 0, 0.3); */

$width: 40px;
$height: 20px;
$toggleWidth: 19px;
$boxShadow: 0 1px 2px rgba(0, 0, 0, 0.3);

.knob-toggle-track {
	display: block;
	width: $width;
	height: $height;

	box-shadow: $boxShadow;
	border: 1px solid transparent;
	border-radius: 11px;
}

.knob-toggle-tick {
	display: block;
	width: $toggleWidth;
	height: $toggleWidth;

	border: 1px solid transparent;
	border-radius: 10px;

	transition: all 0.5s;
}

.knob-toggle-tick.state-active {
	margin-left: $width - $toggleWidth;
}