.knob-pagelist {

	.knob-pagelist__bar {
		overflow: hidden;
		border-bottom: 1px solid #ddd;

		.knob-input {
			float: left;
			border-color: #ddd;

			&:hover {
				border-color: #131313;
			}
		}

		.knob-dropdown,
		.knod-items-per-page {
			float: right
		}
		.knob-button-search {
			float: left
		}
	}
}