.knob-button.variation-tab {
	font-size:14px;
	font-weight:400;
	text-transform:uppercase;
	border-width: 0px;
	border-bottom-width: 1px;

	//&:hover,
	&.state-active {
		border-bottom-width: 0px;
	}
}

//panel
.knob-tab {
	padding: 10px;
	border-top: 1px solid;
	position: relative;
	text-align: left;
}
