.knob-button.variation-tab {
	margin-right: 5px;
	box-shadow: 0 0 0;

	&:hover,
	&.state-active {
		min-height: 33px;
		box-shadow: inset 0 -2px 0 0 ;
	}
}

//panel
.knob-tab {
	padding: 10px;
	border-top: 1px solid;
	position: relative;

/*
	.knob-notification {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
	}
*/
}
