<div class="knob-modal-overlay" data-bind="visible: visible, event: {click: () => activeModals.pop()()}">
	<div class="knob-modal" data-bind="event: {click: (data, event) => {event.stopPropagation();}}">
		<div class="knob-modal__header">
			<knob-button class="button-back" data-bind="visible: closeIconOnLeft" params="variation: 'modalHead', icon: backIcon, click: close"></knob-button>
			<knob-button class="button-close" data-bind="visible: !closeIconOnLeft" params="variation: 'modalHead', icon: '#icon-close', click: close"></knob-button>

			<span class="desc">
				<svg class="icon">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" data-bind="attr: {'xlink:href': icon}" xlink:href=""></use>
				</svg>
				<span data-bind="text: title"></span>
			</span>

		</div>
		<div class="knob-modal__body">
			<!-- ko template: { nodes: $componentTemplateNodes, data: $parent } --><!-- /ko -->
		</div>
	</div>
</div>
