html, body, div, p {
	padding:0;
	margin:0;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size:10px;
}


/* temp knob stuff */

.knob-textarea {
	border-style: solid;
	border-width: 1px;
	display: inline-block;
	padding: 7px 12px;
	
	min-width:100%;
	max-width:100%;
	min-height: 60px;
}

.knob-input,
.knob-textarea {
	background-color:#ffffff !important;
	border:1px solid #d2cdc6 !important;
	border-radius: 3px;
	
	width:100%;
}

.knob-dropdown {}

.knob-dropdown .knob-button {
	background-color: #ffffff !important;
	border:1px solid #d2cdc6 !important;
	border-radius: 3px;
	box-shadow: none !important;
}

.knob-dropdown {}

.block-title {
	background-color:#f0f2f4;
	color:#b0b4b5;
	font-size:10px;
	font-weight:bold;
	text-transform:uppercase;
	border-bottom: 1px solid #d2cdc6;
	padding: 10px;
}

.row {
	clear:both;
	overflow:hidden;
	min-height: 60px;
	padding:10px;
	
	background: #f5f7f8;
	border-bottom: 1px solid #d2cdc6;
}

.row label {
	display:block;
	width:auto;
	max-width:100%;
	word-wrap: break-word;      /* IE 5.5-7 */
	white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
	white-space: pre-wrap; 
	
	font-size:10px;
}

.row.single-row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	align-items: center;
	-ms-flex-align:center;
	
	-ms-flex-wrap: none;
	
	width:100%;
}

.row.multi-row {}

.row.multi-row label {
	display:block;
	clear:both;
	
	padding-bottom: 15px;
}

.row.multi-row .knob-input,
.row.multi-row .knob-textarea {
	display:block;
	clear:both;
	
	font-size:10px;
}


.accordion-item {}
.accordion-item-title {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	align-items: center;
	-ms-flex-align:center;
	
	-ms-flex-wrap: none;
}
.accordion-item-title .accordion-item-counter {
	font-size:10px;
	font-weight:bold;
	padding:0px 4px;
	background:#cdcdcd;
	color:#ffffff;
	border-radius:4px;
	min-width: 12px;
	text-align:center;
}
.accordion-item-content {}
.accordion-item {
	padding:10px;
}



/* knob overrides */

#right .knob-tab {
	padding:0;
}

.row.single-row .knob-dropdown {
/*	min-width: 80px; */
	white-space: nowrap;
}









/* dev 2  */

body {
	padding-left:220px;
	padding-right:360px;
	min-width: 700px;
}



#editorWrap {
	min-width: 700px;
	max-width:700px;
	width:100%;
	margin:0 auto;
	background: pink;
}

html, body {
/*	overflow:hidden;*/
	position:relative;
	background:#f1f1f1;
}

#left {
	position:fixed;
	background:#ffffff;
	width: 200px;
	height:100%;
	left:0;
	top:0;
}

#right {
	width: 339px;
	height:100%;
	right:0;
	top:0;
	
	position:absolute;
	overflow:hidden;
	
	background: #f5f7f8;
	border-left: 1px solid #d2cdc6;
}

#right .knob-tab-orient--top {
	background: #f5f7f8;
	/* border:1px solid #d2cdc6; */
	float:left;
	
    overflow: hidden;
    width: 100%;
}

#right .knob-radio {
	margin-bottom:19px;
}

#right .knob-radio > div {
	display:block;
	width:50%;
	float:left;
}

#right .knob-radio > div + div .knob-button {
	border-left:1px solid #d2cdc6 !important;
}

#right .knob-radio .knob-button {
	display:block;
	text-align:center;
	width:100%;
	height:66px;
	
	font-size:14px;
	font-weight:400;
	text-transform:uppercase;
	border-top:1px solid #d2cdc6 !important;
	border-bottom:1px solid #d2cdc6 !important;
	
	box-shadow: none !important;
	color:#9b9b9b !important;
}

#right .knob-radio .knob-button.variation-tab.state-active {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none !important;
	border-bottom:0px none  !important;
	background-color:#f5f7f8 !important;
}