<div class="color-picker-in-use">

	<div class="holder-wrapper">
		<div class="holder-wrapper-left">
			<input class="color-input" data-bind="value: currentColorInUse">
		</div>
		<div class="holder-wrapper-right">
			<span class="color-picker-holder" data-bind="click: showPicker, style: { 'background-color': currentColorInUse() }"></span>
		</div>		
	</div>

	<knob-tooltip class="light arrow-up subright picker-tooltip" data-bind="visible: pickerEnabled">
		<color-picker params="
			currentColor: currentColorInUse,
			hideCallback: hidePicker
		"></color-picker>
	</knob-tooltip>

</div>