<div class="color-picker-in-use">

	<div class="holder-wrapper">
		<span class="color-picker-holder" data-bind="click: togglePicker, style: { 'background-color': currentColorInUse() }"></span>
		<input class="color-input" data-bind="value: currentColorInUse">
	</div>

	<knob-tooltip class="light arrow-right subup picker-tooltip" data-bind="visible: pickerEnabled">
		<color-picker params="
			currentColor: currentColorInUse,
			hideCallback: hidePicker
		"></color-picker>
	</knob-tooltip>

</div>