<div data-bind="click: click, disable: disabled,
	value: value, css: disabled ? 'disabled' : ''" >
	<span class="icon-wrapper" data-bind="if: value()">
		<svg class="icon">
			<use xmlns:xlink="http://www.w3.org/1999/xlink" data-bind="attr: {'xlink:href': tick}" xlink:href=""></use>
		</svg>
	</span>
	<span class="icon-wrapper" data-bind="ifnot: value()">
		<svg class="icon">
			<use xmlns:xlink="http://www.w3.org/1999/xlink" data-bind="attr: {'xlink:href': cross}" xlink:href=""></use>
		</svg>
	</span>
</div>