// Main button style without colors
// ==================================================

.knob-button {
	line-height: 1.42857143;
	padding: 6px 12px;
	cursor: pointer;
	text-align: center;
	border: 0 none;
	display: inline-block;
	text-align: center;
	touch-action: manipulation;
	border: 1px solid;
	border-radius: 3px;

// Button icons
// ==================================================
	.icon-wrapper {
		.icon {
			width: 20px;
			height: 20px;
			vertical-align: middle;
			line-height: 1;
		}
	}

}

// Button sizes
// ==================================================
&.button--lg {
	.knob-button {
		padding: 10px 16px;
		font-size: 18px;
		line-height: 1.3333333;

		.icon-wrapper {
			.icon{
				width: 24px;
				height: 24px;
			}
		}
	}
}

&.button--sm {
	.knob-button {
		padding: 5px 10px;
		font-size: 12px;
		line-height: 1.5;

		.icon-wrapper {
			.icon{
				width: 13px;
				height: 13px;
			}
		}
	}
}

.knob-button:disabled {
	cursor: not-allowed;
}