<div class="color-picker">
	
	<span class="main-color" data-bind="click: togglePicker, style: { 'background-color': '#' + currentColor() }"></span>

	<knob-tooltip class="arrow-right subdown picker-tooltip" data-bind="visible: pickerEnabled">
		<div class="color-picker-container">
			<input id="valueSpan" value="dddddd"
				data-bind="value: currentColor" class="color-input jscolor" data-jscolor="{width:120, height:120, padding:0, shadow:false,
    			borderWidth:0, backgroundColor:'transparent', styleElement:'styleSpan', valueElement:'valueSpan'}">
			<div class="small-wrapper">
				<p class="picker-label" data-bind="text: defaultLabels.currentColorLabel"></p>
				<span id="styleSpan" data-bind="
				style: { 'background-color': '#' + currentColor() }
				"></span>
				<p class="picker-label" data-bind="text: defaultLabels.lastUsedColorsLabel"></p>
				<div class="sample-wrapper" data-bind="foreach: lastUsedColors">
					<span class="sample" data-bind="
						style: { 'background-color': '#' + $data },
						click: function() { $parent.currentColor($data); }
					"></span>
				</div>
				<knob-button class="rounded picker-btn" params="
					label: colorPickerButton.label, 
					click: colorPickerButton.click">
				</knob-button>
			</div>
		</div>
	</knob-tooltip>
	
</div>