<div class="color-picker">
	<div class="color-picker-container">

		<div class="first-wrapper">
			<input id="valueSpan" value="dddddd"
				data-bind="value: currentColor">
			<div data-bind="colorjoe: currentColor"></div>
		</div>
		
		<div class="second-wrapper">
			<p class="picker-label" data-bind="text: labels.currentColorLabel"></p>
			<span id="styleSpan" data-bind="
			style: { 'background-color': currentColor() }
			"></span>
			<p class="picker-label" data-bind="text: labels.lastUsedColorsLabel"></p>
			<div class="sample-wrapper" data-bind="foreach: lastUsedColors">
				<span class="sample" data-bind="
					style: { 'background-color': $data },
					click: function() { $parent.currentColor($data); }
				"></span>
			</div>
			<knob-button class="rounded picker-btn" params="
				label: colorPickerButton.label, 
				click: colorPickerButton.click">
			</knob-button>
		</div>
	</div>
</div>