.knob-dropdown-searchbox {
	.selected {
		color: blue;
	}

	.knob-pagelist__bar {
		overflow: hidden;
		border-bottom: 1px solid #ddd;

		.knob-input {
			float: left;
			border-color: #ddd;

			&:hover {
				border-color: #131313;
			}
		}

		.knob-button-search {
			float: left
		}
	}

	.knob-pagedlist__list {
		list-style: none;
		padding: 0;
	}

	.no-result {
		text-align: left;
		display: block;
		margin: 0 auto;
		padding: 2px;
		color: #cacaca;
	}

	.add-item {
		text-align: left;
		display: block;
		margin: 0 auto;
		padding: 2px;
		background-color: blue;
		color: white;
	}

	.selected-item {
		text-align: left;
		display: block;
		margin: 0 auto;
		padding: 2px;
		background-color: blue;
		color: white;
	}

	border: 1px solid #131313;
}
