<div class="knob-dropdown-searchbox">
    <div class="knob-pagelist__bar">
        <input class="knob-input" type="text" data-bind="value: list.search, valueUpdate: 'afterkeydown'" />
        <knob-button class="knob-button-search" params="label: '',
                                    variation: 'default',
                                    icon: icons.search">
        </knob-button>
    </div>

    <!-- ko if: shouldDisplay -->
    <ul data-bind="css: list.listClass, foreach: list.items">
        <li data-bind="css: $parent.list.itemClass">

            <div data-bind="css: { selected: $parents[0].selectedId() === $data.data.id }, click: $parents[0].buttonSelect ? null : $parents[0].select">
                <!-- ko template: { nodes: $componentTemplateNodes, data: {model: $data, parent: $parents, index: $index} } -->
                <!-- /ko -->
            </div>

        </li>
    </ul>
    <!-- /ko -->
    <span class="selected" data-bind="text: selectedItem"></span>
    <!-- ko if: list.items().length === 0 -->
    <span class="no-result" data-bind="visible: !list.loading(), text: labels.noResults"></span>
    <span class="moreItem" data-bind="visible: !list.loading(), text: noResult, click: notFoundItem"></span>
    <!-- /ko -->
</div>